/* ---- GENERAL STYLES ---- */
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--clr-background: hsl(257, 40%, 49%);
	--clr-accent: hsl(300, 69%, 71%);
	--clr-text: hsl(0, 0%, 100%);

	--ft-heading: 'Poppins', sans-serif;
	--ft-body: 'Open Sans', sans-serif;
}

html {
	font-size: 62.5%;
}

body {
	background: url('../images/bg-mobile.svg') top / 100% no-repeat
		var(--clr-background);
	color: var(--clr-text);
	display: grid;
	grid-template-rows: 1fr auto;
	align-items: center;
}

.container {
	width: 90%;
	max-width: 40rem;
	margin: 0 auto;
}

.mb-sm {
	margin-bottom: 2rem !important;
}

.mb-md {
	margin-bottom: 6rem !important;
}

.pt-sm {
	padding-top: 2rem;
}

.sr-only {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/* ---- HEADER STYLES ---- */
.header {
	padding: 2rem 0;
}

.grid {
	display: grid;
}

.logo {
	width: 14rem;
}

.image-container {
	margin-bottom: 6rem;
}

.text-container {
	text-align: center;
}

.mockups-img {
	max-width: 100%;
}

.heading-primary {
	font-family: var(--ft-heading);
	font-size: 2.4rem;
	font-weight: 600;
}

.description {
	font-family: var(--ft-body);
	font-size: 1.8rem;
	line-height: 1.5;
}

.btn:link,
.btn:visited {
	display: inline-block;

	width: 60%;
	padding: 0.8em 2em;
	margin: 0 auto;
	background: var(--clr-text);

	color: var(--clr-background);
	font-family: var(--ft-heading);
	font-size: 1.4rem;
	font-weight: 400;
	text-align: center;

	text-decoration: none;
	border-radius: 100px;
	box-shadow: 0 5px 10px rgb(0, 0, 0, 0.3);
	transition: background-color 0.3s ease-out, color 0.3s;
}

.btn:hover {
	background-color: var(--clr-accent);
	color: var(--clr-text);
}

.social-container {
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.social-link:link,
.social-link:visited {
	text-decoration: none;
}

.social {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 4rem;
	height: 4rem;
	padding: 0.6rem;
	border: 1px solid currentColor;

	color: var(--clr-text);
	border-radius: 50%;
	transition: color 0.3s;
}

.social:hover {
	color: var(--clr-accent);
}

.social__icon {
	width: 1.8rem;
	height: 1.8rem;
	pointer-events: none;
}

.attribution {
	padding: 1rem 0;
	font-family: var(--ft-heading);
	font-size: 1.1rem;
	text-align: center;
}

.attribution a:link,
.attribution a:visited {
	color: var(--clr-accent);
	font-weight: 600;
	text-decoration: none;
	border-bottom: 1px solid currentColor;
}

/* ---- ABOVE 720px ---- */
@media (min-width: 45em) {
	body {
		min-height: 100vh;
		background-image: url('../images/bg-desktop.svg');
		background-position: left;
		background-size: auto 100%;
	}

	.container {
		max-width: 140rem;
	}

	.logo {
		width: 20rem;
	}

	.row {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 6rem;
	}

	.image-container {
		margin: 0;
		width: 100%;
	}

	.text-container {
		text-align: left;
		width: 100%;
	}

	.social-container {
		justify-self: flex-end;
	}

	.btn:link {
		width: 16rem;
	}
}

/* ---- ABOVE 1008px ---- */
@media (min-width: 63em) {
	.heading-primary {
		font-size: 3.4rem;
	}
}
