/* ---- GENERAL STYLES ---- */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--blue: hsl(223, 87%, 63%);
	--light-blue: hsl(223, 87%, 70%);
	--pale-blue: hsl(223, 100%, 88%);
	--light-red: hsl(354, 100%, 66%);
	--gray: hsl(0, 0%, 59%);
	--very-dark-blue: hsl(209, 33%, 12%);
	--white: #fff;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Libre Franklin', sans-serif;
	background: var(--white);
}

/* ---- REUSABLE COMPONENTS ---- */

.container {
	display: grid;
	justify-items: center;
	width: 80%;
	max-width: 65rem;
	margin: 0 auto;
	padding: 10rem 0;
}

.logo {
	margin-bottom: 4rem;
	width: 10rem;
}

.primary-heading {
	margin-bottom: 3rem;
	color: var(--gray);
	font-size: 4.4rem;
	font-weight: 300;
	text-align: center;
}

.accent {
	font-weight: 700;
	color: var(--very-dark-blue);
}

.info {
	margin-bottom: 6rem;
	color: var(--very-dark-blue);
	font-size: 2.4rem;
	font-weight: 300;
	font-family: inherit;
}

.subscription-form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	width: 100%;
	margin-bottom: 4rem;
}

.input-group {
	position: relative;
}

.input {
	width: 100%;
	padding: 2rem 6rem;
	border: 2px solid var(--pale-blue);
	border-radius: 100px;
	font-size: 2.4rem;
	font-weight: 300;
}

.input:focus,
.button:focus {
	outline: 2px solid var(--very-dark-blue);
}

.input-label {
	color: var(--pale-blue);
	position: absolute;
	top: 2.6rem;
	left: 6rem;
	font-size: 2rem;
}

.input:focus + .input-label,
.input:not(:placeholder-shown) + .input-label {
	opacity: 0;
}

.input.input--error {
	border: 1px solid var(--light-red);
}

.error {
	display: block;
	font-size: 1.6rem;
	font-style: italic;
	color: var(--light-red);
	padding: 1rem 4rem;
	text-align: center;
	font-weight: 300;
}

.button {
	width: 100%;
	border: none;
	padding: 2rem 6rem;
	background: var(--blue);
	border-radius: 100px;
	color: var(--white);
	font-weight: 600;
	font-size: 2.4rem;
	cursor: pointer;
}

.button:hover {
	background: var(--light-blue);
}

.image {
	margin-bottom: 10rem;
	max-width: 100%;
}

.social-container {
	display: flex;
	gap: 2rem;
	margin-bottom: 2rem;
}

.social-icon-container {
	width: 5.5rem;
	height: 5.5rem;

	border: 1px solid var(--pale-blue);
	padding: 1.2rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social-icon-container:hover {
	background: var(--blue);
}

.social-icon {
	width: 100%;
	height: 100%;
	color: var(--blue);
}
.social-icon-container:hover .social-icon {
	color: var(--white);
}
.copyright {
	font-size: 1.8rem;
	color: var(--gray);
}

.attribution {
	font-size: 1.1rem;
	color: var(--gray);
	text-align: center;
	padding: 1rem;
}

.attribution a:link,
.attribution a:visited {
	color: var(--blue);
	font-weight: 700;
	text-decoration: none;
	border-bottom: 1px solid currentColor;
}

.attribution a:active {
	color: var(--light-red);
}

@media (min-width: 760px) {
	.container {
		max-width: 80rem;
	}
	.subscription-form {
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
	}

	.input-group {
		width: 60%;
	}

	.error {
		text-align: left;
	}

	.button {
		width: 40%;
	}
}
