/* 
## Colors

### Primary

- Desaturated Red: hsl(0, 36%, 70%)
- Soft Red: hsl(0, 93%, 68%)

### Neutral

- Dark Grayish Red: hsl(0, 6%, 24%)

### Gradients

- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Josefin Sans](https://fonts.google.com/specimen/Josefin+Sans)
- Weights: 300, 400, 600 */

:root {
	/* colors */
	--primary-color: hsl(0, 36%, 70%);
	--gray-color: hsl(0, 6%, 24%);
	--error-color: hsl(0, 93%, 68%);
	--button-hover-color: hsl(0, 80%, 86%);
	--focus-shadow-color: hsla(0, 36%, 70%, 0.5);

	/* gradients */
	--button-gradient: linear-gradient(
		135deg,
		hsl(0, 80%, 86%),
		hsl(0, 74%, 74%)
	);
	--body-background-gradient: linear-gradient(
		135deg,
		hsl(0, 0%, 100%),
		hsl(0, 100%, 98%)
	);

	/* font */
	--font-family: 'Josefin Sans', sans-serif;

	/* font-weight */
	--fw-light: 300;
	--fw-regular: 400;
	--fw-semi-bold: 600;
}

/* ---- GENERAL STYLES AND UTILITY ---- */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

*:focus {
	outline: 1px dotted;
}

html {
	font-size: 62.5%;
}

body {
	background: var(--body-background-gradient);
	font-family: var(--font-family);
}

.hidden {
	visibility: hidden !important;
}

/* ---- PAGE LAYOUT ---- */
body {
	display: grid;
	grid-template-areas:
		'header'
		'hero'
		'main'
		'attribution';
	justify-items: center;
}

/* ---- HEADER STYLES ---- */
.header {
	grid-area: header;
	padding: 3.2rem 0;
	width: 80%;
}

.logo {
	width: 10rem;
}

/* ---- HERO STYLES ---- */
.hero {
	grid-area: hero;
	width: 100%;
	overflow: hidden;
}

.hero__picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center top;
}

/* ---- MAIN SECTION STYLES ---- */
.main {
	grid-area: main;
	display: grid;
	justify-items: center;
	justify-content: center;

	width: 80%;
	max-width: 45rem;
}

.heading {
	max-width: 10ch;
	margin: 6rem 0 1.5rem;

	color: var(--primary-color);
	font-size: 4rem;
	font-weight: var(--fw-light);
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1rem;
}

.heading__important {
	display: block;
	color: var(--gray-color);
	font-weight: var(--fw-semi-bold);
}

.info-text {
	width: 100%;
	margin-bottom: 3rem;

	color: var(--primary-color);
	font-size: 1.4rem;
	font-weight: var(--fw-regular);
	line-height: 1.5;
	text-align: center;
}

/* ---- FORM STYLES ---- */
.form {
	width: 100%;
	position: relative;
	margin-bottom: 5rem;
}

.input,
.btn {
	height: 4.6rem;
}

.input {
	padding: 1rem 3rem;
	border: 1px solid var(--primary-color);
	width: 100%;

	color: var(--gray-color);
	font-weight: var(--fw-regular);
	font-family: inherit;

	border-radius: 50px;
}

.input:focus {
	outline: 5px solid var(--focus-shadow-color);
}

.input::placeholder {
	color: var(--primary-color);
}

.input--error {
	border: 2px solid var(--error-color);
}

.error {
	display: block;
	position: relative;
	padding: 0.6rem 3rem;
	color: var(--error-color);
	font-size: 1.2rem;
}

.error::before {
	content: url('../images/icon-error.svg');
	position: absolute;
	right: 7.4rem;
	top: -3.5rem;
}

.btn {
	position: absolute;
	right: 0;
	top: 0;

	padding: 0 2.5rem;
	border: none;
	background: var(--button-gradient);

	border-radius: 100px;
	box-shadow: 0 10px 25px var(--primary-color);
	cursor: pointer;
	outline: none;
}

.btn:focus,
.btn:hover {
	background: var(--button-hover-color);
}

/* ----ATTRIBUTION -STYLES ---- */
.attribution {
	grid-area: attribution;
	font-size: 11px;
	color: var(--primary-color);
	padding: 1rem;
	text-align: center;
}

.attribution__link:link,
.attribution__link:visited {
	color: var(--gray-color);
	text-decoration: none;
	border-bottom: 1px solid;
}

/* ---- MEDIA QUERIES ---- */

/* 640px */
@media screen and (min-width: 40em) {
	/* TODO why the vertical scroll on desktop? */
	body {
		grid-template-columns: 1fr 0.9fr;
		grid-template-rows: auto 1fr auto;
		grid-template-areas:
			'header hero'
			'main hero'
			'attribution hero';

		height: 100vh;
		background: url('../images/bg-pattern-desktop.svg') left / 55% no-repeat,
			var(--body-background-gradient);
	}

	.header {
		padding-bottom: 0;
		width: 80%;
	}

	.main {
		justify-items: left;
		align-content: center;
	}

	.heading,
	.info-text {
		text-align: left;
	}

	.form {
		margin: 0;
	}
}

/* 768px */
@media screen and (min-width: 48em) {
	.input,
	.btn {
		height: 5rem;
	}

	.logo {
		width: 16rem;
	}

	.heading {
		font-size: 6rem;
		letter-spacing: 2rem;
	}

	.info-text {
		font-size: 1.6rem;
	}

	.input {
		font-size: 1.6rem;
	}

	.btn {
		width: 10rem;
	}

	.error {
		font-size: 1.4rem;
		padding-top: 1rem;
	}
	.error::before {
		right: 11.5rem;
		top: -4rem;
	}
}
