:root {
	--main-color: hsl(300, 43%, 22%);
	--accent-color: hsl(333, 80%, 67%);
	--gray-color-1: hsl(303, 10%, 53%);
	--gray-color-2: hsl(300, 24%, 96%);
	--background-color: hsl(0, 0%, 100%);

	--margin-sm: 2rem;
	--margin-lg: 3rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* ---- GENERAL STYLES ---- */

html {
	font-size: 62.5%; /* equivalent to 10px */
}

body {
	margin: 0 auto;
	font-family: 'Spartan', sans-serif;
	background-color: var(--background-color);
	width: 95%;
	max-width: 60rem;
	background-image: url('../images/bg-pattern-top-mobile.svg'),
		url('../images/bg-pattern-bottom-mobile.svg');
	background-position: top, bottom left;
	background-size: 100%;
	background-repeat: no-repeat;
}

main {
	margin: 7.8rem 1.8rem;
}

.no-bullets {
	list-style: none;
}

@media screen and (min-width: 925px) {
	body {
		max-width: 100%;
		height: 100vh;

		background-image: url('../images/bg-pattern-top-desktop.svg'),
			url('../images/bg-pattern-bottom-desktop.svg');
		background-position: top left, bottom right;
		background-size: 35%, 80%;
	}
}

/* ---- LAYOUT ---- */
@media screen and (min-width: 925px) {
	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.header {
		grid-column: 1 / 2;
	}

	.ratings {
		grid-column: 2 / 3;
	}

	.testimonials {
		grid-column: 1 / -1;
		display: flex;
		gap: 2rem;
	}
}

/* ---- COMPONENT STYLES ---- */

/* HEADER */
.header {
	margin-bottom: var(--margin-lg);
	text-align: center;
}

.header__heading {
	margin-bottom: var(--margin-lg);

	color: var(--main-color);
	font-size: 3.2rem;
	font-weight: 700;

	line-height: 1;
}

.header__paragraph {
	color: var(--gray-color-1);
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.7;
}

/* RATINGS */
.ratings {
	margin-bottom: var(--margin-lg);
}

.rating-card {
	padding: 2rem 0;
	margin-bottom: var(--margin-sm);
	background: var(--gray-color-2);

	color: var(--main-color);
	font-weight: 700;
	font-size: 1.3rem;
	text-align: center;

	border-radius: 0.5rem;
}

/* TODO better way to add star svgs? */
.rating-card::before {
	content: url(../images/icon-star.svg) url(../images/icon-star.svg)
		url(../images/icon-star.svg) url(../images/icon-star.svg)
		url(../images/icon-star.svg);
	display: block;
	margin-bottom: 1rem;
}
/* TESTIMONIALS */
.testimonials {
	margin-bottom: 8rem;
}

.testimonial-card {
	padding: 3.8rem 3rem;
	margin-bottom: var(--margin-sm);
	background: var(--main-color);
	border-radius: 1rem;
}

.testimonial-card__image {
	float: left;
	width: 4rem;
	margin-right: 2.5rem;
	border-radius: 50%;
}

.testimonial-card__heading {
	margin: 0.5rem 0;
	color: var(--gray-color-2);
	font-size: 1.3rem;
	font-weight: 700;
}

.testimonial-card__subheading {
	margin: 0;
	margin-bottom: 2.8rem;
	color: var(--accent-color);
	font-size: 1.3rem;
}

.testimonial-card__quote {
	margin: 0;
	color: var(--background-color);
	font-size: 1.3rem;
	font-weight: 500;
	line-height: 1.5;
}

/* ATTRIBUTION  */
.attribution {
	padding: 0.5rem 0;
	color: var(--main-color);
	font-size: 1rem;
	text-align: center;
}

.attribution__link:link,
.attribution__link:visited {
	font-weight: 700;
	color: var(--main-color);
	text-decoration: none;
	border-bottom: 1px solid;
}

.attribution__link:active {
	color: var(--accent-color);
}

@media screen and (min-width: 925px) {
	.header {
		grid-column: 1 / 2;
		text-align: left;
	}

	.header__heading {
		font-size: 4.8rem;
	}

	.ratings {
		grid-column: 2 / 3;
	}

	.testimonials {
		grid-column: 1 / -1;
		display: flex;
		gap: 2rem;
	}

	.testimonial-card {
		margin-bottom: 0;
	}
}
