:root {
	--main-color: hsl(300, 43%, 22%);
	--accent-color: hsl(333, 80%, 67%);
	--gray-color-1: hsl(303, 10%, 53%);
	--gray-color-2: hsl(300, 24%, 96%);
	--background-color: hsl(0, 0%, 100%);

	--margin-sm: 2rem;
	--margin-lg: 3rem;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* ---- GENERAL STYLES ---- */

html {
	font-size: 62.5%; /* equivalent to 10px */
}

body {
	margin: 0 2rem;
	font-family: 'Spartan', sans-serif;

	background: url('../images/bg-pattern-top-mobile.svg') top left /
			calc(29rem + 20%) no-repeat,
		url('../images/bg-pattern-bottom-mobile.svg') bottom right / 100%
			no-repeat;
}

main {
	display: grid;

	max-width: 60rem;
	margin: 0 auto;
}

.no-bullets {
	list-style: none;
}

/* ---- COMPONENT STYLES ---- */

/* HEADER */
.header {
	margin: 7.8rem 0 var(--margin-lg);
	text-align: center;
}

.header__heading {
	margin-bottom: var(--margin-lg);

	color: var(--main-color);
	font-size: 3.2rem;
	font-weight: 700;

	line-height: 1;
}

.header__paragraph {
	color: var(--gray-color-1);
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 1.7;
}

/* RATINGS */
.ratings {
	margin-bottom: var(--margin-lg);
}

.rating-card {
	padding: 2rem 0;
	margin-bottom: var(--margin-sm);
	background: var(--gray-color-2);

	text-align: center;

	border-radius: 0.5rem;
}

/* TODO better way to add star svgs? */
.rating-card::before {
	content: '';
	display: block;

	height: 16px;
	width: calc(5 * 17px + 4 * 4px); /* 5 stars + 4 spaces between */
	margin: 0 auto;
	margin-bottom: 1rem;
	background: url('../images/icon-star.svg') center / contain space;
}

.rating-card__text {
	color: var(--main-color);
	font-weight: 700;
	font-size: 1.3rem;
}

/* TESTIMONIALS */
.testimonials {
	margin-bottom: 2rem;
}

.testimonial-card {
	padding: 3.8rem 3rem;
	margin-bottom: var(--margin-sm);
	background: var(--main-color);
	border-radius: 1rem;
}

.testimonial-card__image {
	float: left;
	width: 4rem;
	margin-right: 2.5rem;
	border-radius: 50%;
}

.testimonial-card__heading {
	margin: 0.5rem 0;
	color: var(--gray-color-2);
	font-size: 1.3rem;
	font-weight: 700;
}

.testimonial-card__subheading {
	margin: 0;
	margin-bottom: 2.8rem;
	color: var(--accent-color);
	font-size: 1.3rem;
}

.testimonial-card__quote {
	margin: 0;
	color: var(--background-color);
	font-size: 1.3rem;
	font-weight: 500;
	line-height: 1.5;
}

/* ATTRIBUTION  */
.attribution {
	padding: 0.5rem 0;
	color: var(--main-color);
	text-align: center;
	font-size: 1rem;
}

.attribution__link:link,
.attribution__link:visited {
	border-bottom: 1px solid;
	font-weight: 700;
	text-decoration: none;
	color: var(--main-color);
}

.attribution__link:active {
	color: var(--accent-color);
}

@media screen and (min-width: 925px) {
	/* ---- GENERAL DESKTOP STYLES ---- */
	body {
		margin: 0;
		background: url('../images/bg-pattern-top-desktop.svg') top left / 35%
				no-repeat,
			url('../images/bg-pattern-bottom-desktop.svg') bottom right / 80%
				no-repeat;
	}

	main {
		grid-template-columns: 1fr 1.5fr;
		row-gap: 7rem;

		max-width: 111rem;
	}

	/* ---- HEADER DESKTOP ---- */

	.header {
		grid-column: 1 / 2;
		text-align: left;
		margin-bottom: 0;
	}

	.header__heading {
		font-size: 4.8rem;
		margin-bottom: var(--margin-sm);
	}

	/* ---- RATINGS DESKTOP ---- */

	.ratings {
		grid-column: 2 / 3;
		justify-self: end;
		margin-top: 7.8rem;
	}

	.rating-card {
		display: grid;
		grid-template-columns: 1fr 2fr;
		column-gap: 3rem;

		width: 45rem;
		padding: 2rem;
		padding-right: 4rem;
	}

	.rating-card--first {
		transform: translateX(-8rem);
	}

	.rating-card--middle {
		transform: translateX(-4rem);
	}

	.rating-card--last {
		margin: 0;
	}

	.rating-card::before {
		justify-self: right;
		margin: 0;
	}

	.rating-card__text {
		justify-self: left;
	}

	/* ---- TESTIMONIALS DESKTOP ---- */

	.testimonials {
		display: grid;
		grid-column: 1 / -1;
		grid-template-columns: repeat(3, 1fr);
		gap: var(--margin-sm);

		margin-bottom: 6rem;
	}

	.testimonial-card {
		margin-bottom: 0;
	}

	.testimonial-card--middle {
		transform: translateY(2rem);
	}

	.testimonial-card--last {
		transform: translateY(4rem);
	}
}
