:root {
	--very-dark-blue: hsl(234, 12%, 34%);
	--grayish-blue: hsl(229, 6%, 66%);
	--very-light-gray: hsl(0, 0%, 98%);
}

/* ---- GENERAL STYLES ---- */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
}

body {
	background: var(--very-light-gray);
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
}

main {
	display: grid;
	justify-items: center;
	margin: 0 1rem;
}

/* ---- TYPOGRAPHY ---- */
.heading__strong,
.feature-card__heading,
.attribution__link:link,
.attribution__link:visited {
	color: var(--very-dark-blue);
	font-weight: 600;
}

.description,
.feature-card__description,
.attribution {
	color: var(--grayish-blue);
	font-weight: 400;
}

.heading,
.description,
.attribution {
	text-align: center;
}

.heading {
	color: var(--very-dark-blue);
	font-weight: 200;
	font-size: 2.2rem;
}

.description {
	font-size: 1.6rem;
}

.feature-card__heading {
	font-size: 1.8rem;
}

.feature-card__description {
	font-size: 1.2rem;
}

/* ---- TOP SECTION STYLES ---- */
.heading {
	margin-top: 8rem;
	margin-bottom: 2.4rem;
}

.heading__strong {
	display: block;
}

.description {
	max-width: 50rem;
	text-align: center;
	margin-bottom: 6rem;
}

@media screen and (min-width: 41.875em) {
	.heading {
		font-size: 3.7rem;
	}
}

/* ---- FEATURES SECTION STYLES ---- */
.features {
	display: grid;
	justify-items: center;
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
		'supervisor'
		'team-builder'
		'calculator'
		'karma';
	gap: 25px;

	margin-bottom: 2rem;
}

.feature-card {
	width: 31rem;
	min-height: 21.5rem;

	padding: 2rem;
	border-top: 4px solid var(--card-color, var(--very-dark-blue));
	background: var(--bg-image, none) bottom right / 54px no-repeat content-box;

	border-radius: 5px;
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
}

.feature-card--supervisor {
	--card-color: hsl(180, 62%, 55%);
	--bg-image: url('../images/icon-supervisor.svg');
	grid-area: supervisor;
}

.feature-card--team-builder {
	--card-color: hsl(0, 78%, 62%);
	--bg-image: url('../images/icon-team-builder.svg');
	grid-area: team-builder;
}
.feature-card--karma {
	--card-color: hsl(34, 97%, 64%);
	--bg-image: url('../images/icon-karma.svg');
	grid-area: karma;
}
.feature-card--calculator {
	--card-color: hsl(212, 86%, 64%);
	--bg-image: url('../images/icon-calculator.svg');
	grid-area: calculator;
}

.feature-card__heading {
	margin-bottom: 1rem;
}

@media screen and (min-width: 41.875em) and (max-width: 70.311em) {
	.features {
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(2, auto);
		grid-template-areas:
			'supervisor team-builder'
			'calculator karma';
	}
}

@media screen and (min-width: 70.312em) {
	.features {
		grid-template-columns: repeat(3, auto);
		grid-template-rows: repeat(2, auto);
		grid-template-areas:
			'supervisor team-builder calculator'
			'. karma .';
	}

	.feature-card {
		width: 35rem;
		min-height: 25rem;
		padding: 3rem;
		background-size: 64px;
	}

	.feature-card--supervisor,
	.feature-card--calculator {
		transform: translateY(50%);
	}
}

/* ---- ATTRIBUTION STYLES ---- */
.attribution {
	padding: 1rem 0;
}

.attribution__link {
	text-decoration: none;
	border-bottom: 1px solid;
}
