@use "../abstracts" as *;

.link {
    &:link,
    &:visited {
        font-family: $font-fraunces;
        font-weight: 900;
        text-transform: uppercase;
        color: $clr-very-desaturated-blue;
        font-size: 1.6rem;
        text-decoration: none;
    }

    &:hover {
        span::after {
            opacity: 1;
        }
    }

    span {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }

    span::after {
        content: "";
        height: 10px;
        width: 115%;
        margin-top: -10px;
        background-color: $clr-soft-red;
        border-radius: 5px;
        display: block;
        z-index: -100;
        opacity: 0.3;
    }
}
