:root {
	--bg-gradient-start-color: hsl(273, 75%, 66%);
	--bg-gradient-end-color: hsl(240, 73%, 65%);
	--card-bg-color: hsl(0, 0%, 100%);
	--question-regular-text-color: hsl(237, 12%, 33%);
	--question-active-text-color: hsl(238, 29%, 16%);
	--question-hover-text-color: hsl(14, 88%, 65%);
	--answer-regular-text-color: hsl(240, 6%, 50%);
	--divider-color: hsl(240, 5%, 91%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 10px;
}

body {
	display: flex;
	flex-direction: column;

	min-height: 100vh;
	margin: 0.8rem;
	background: rgb(101, 101, 231);
	background: linear-gradient(
		0deg,
		var(--bg-gradient-end-color) 0%,
		var(--bg-gradient-start-color) 50%
	);
}

main {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	position: relative;

	width: 34rem;
	/* padding: 12rem 2.2rem 4rem; */
	padding: 5rem;
	margin-top: 14rem;
	background: var(--card-bg-color);

	font-family: 'Kumbh Sans', sans-serif;

	border-radius: 2rem;
	box-shadow: 2px 28px 45px -19px var(--question-active-text-color);
}

.card::before {
	content: '';
	display: block;

	position: absolute;
	top: -10rem;
	left: 50%;
	transform: translateX(-55%);

	width: 25rem;
	height: 20rem;
	background-image: url('../images/illustration-woman-online-mobile.svg'),
		url('../images/bg-pattern-mobile.svg');
	background-position: top, left 29px bottom;
	background-repeat: no-repeat;
	background-size: 100%, 88%;
}

h2,
details[open] h3 {
	font-weight: 900;
	color: var(--question-active-text-color);
}

h2 {
	margin-bottom: 3rem;

	text-align: center;
	font-size: 3rem;
}

.question h3 {
	flex: 1;

	font-weight: 400;
	font-size: 1.4rem;
}

details {
	padding: 1rem 0;
	border-bottom: 1px solid var(--divider-color);
}

.question {
	display: flex;
	align-items: center;

	margin-bottom: 1rem;
	color: var(--question-regular-text-color);
}

.question:hover {
	cursor: pointer;
	color: var(--question-hover-text-color);
}

.answer {
	font-size: 1.1rem;
	color: var(--answer-regular-text-color);
}

.icon-arrow {
	display: inline-block;

	width: 1rem;
	height: 1rem;
	background: url('../images/icon-arrow-down.svg') no-repeat;
	background-size: contain;
	transition: transform 0.3s;
}

details[open] .icon-arrow {
	transform: rotate(-180deg);
}

.attribution {
	padding: 1rem 0;

	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 900px) {
	body {
		margin: 0 6rem;
	}
	.card {
		width: 92rem;
		height: 50.8rem;
		margin: 0;
		/* padding: 6rem 10rem 6rem 49rem; */

		background-image: url('../images/illustration-woman-online-desktop.svg'),
			url('../images/bg-pattern-desktop.svg');
		background-position: left -8.6rem top 7rem, left -58.5rem top -30.8rem;
		background-repeat: no-repeat;
		background-size: 49.6rem, 100rem;
	}

	.card::before {
		content: '';
		position: absolute;

		width: 20rem;
		background: none;
		background: url('../images/illustration-box-desktop.svg');
		background-repeat: no-repeat;
		background-size: contain;
		left: 1.2rem;
		top: 21.4rem;
	}

	h2 {
		text-align: left;
	}

	.questions-wrapper {
		margin-left: 46rem;
		width: 30rem;
	}
}
