/* ---------- general styles ---------- */

:root {
	--primary-color: hsl(185, 75%, 39%);
	--secondary-color: #fff;
	--accent-font-color: hsl(229, 23%, 23%);
	--regular-font-color: hsl(227, 10%, 46%);
	--profile-card-stats-rule-color: hsl(0, 0%, 59%, 0.4);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* ---------- typography ---------- */

html {
	font-size: 10px;
}

.profile {
	font-family: 'Kumbh Sans', sans-serif;
}

.name,
.profile-stats p:first-child {
	color: var(--accent-font-color);
	font-size: 1.8rem;
	font-weight: 700;
}

.age,
.location,
.profile-stats p:last-child {
	color: var(--regular-font-color);
	font-weight: 400;
}

.name {
	margin-right: 1rem;
}

.age {
	font-size: 1.8rem;
}

.location {
	font-size: 1.4rem;
	margin-bottom: 2.5rem;
}

.profile-stats p:last-child {
	letter-spacing: 0.1rem;
}

.user-info,
.location,
.profile-stats div,
footer {
	text-align: center;
}

footer {
	font-size: 1.2rem;
	color: var(--secondary-color);
}

footer a:link {
	color: var(--accent-font-color);
	font-weight: bold;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

/* ---------- layout ---------- */

body {
	display: flex;
	flex-direction: column;

	height: 100vh;
	padding: 8px;
}

main {
	flex: 1 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer {
	flex: 0 0;
}

.profile {
	flex: 1;
	min-width: 22rem;
	max-width: 35rem;
	border-radius: 12px;
	margin: 0 auto;
	overflow: hidden;
}

.profile-top {
	position: relative;
	min-height: 14.5rem;
	margin-bottom: 8rem;
}

.profile-top .picture {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 50%);
}

.user-info {
	margin-bottom: 1rem;
}

.profile-stats {
	border-top: 1px solid var(--profile-card-stats-rule-color);
	display: flex;
	justify-content: space-around;
	padding: 2rem 0;
}

.profile-stats p:last-child {
	margin-top: 0.5rem;
}

/* ---------- appearance ---------- */
body {
	background-image: url('../images/bg-pattern-top.svg'),
		url('../images/bg-pattern-bottom.svg');
	background-repeat: no-repeat;
	background-position: right 50vw bottom 50vh, left 50vw top 50vh;
	background-color: var(--primary-color);
}

.profile {
	background: var(--secondary-color);
}
.profile-top {
	background: url('../images/bg-pattern-card.svg');
}

/* ---------- components  ---------- */

.picture {
	height: 10.6rem;
	width: 10.6rem;
	background-color: var(--secondary-color);
	border: 5px solid var(--secondary-color);
	border-radius: 50%;
	overflow: hidden;
}

.picture img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
