* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--red: hsl(0, 100%, 74%);
	--green: hsl(154, 59%, 51%);
	--blue: hsl(248, 32%, 49%);
	--dark-blue: hsl(249, 10%, 26%);
	--grayish-blue: hsl(246, 25%, 77%);

	--white: hsl(0, 0%, 100%);
	--shadow-color: hsl(249, 10%, 26%, 0.2);
	--button-hover-color: hsl(154, 59%, 65%);

	--font-family: 'Poppins', sans-serif;
}

html {
	font-size: 62.5%;
}

body {
	display: grid;
	grid-template-rows: 1fr auto;

	background: url('../images/bg-intro-mobile.png') var(--red);
	font-family: var(--font-family);
}

main {
	display: grid;
	justify-items: center;
	gap: 7rem;

	padding: 9rem 3.5rem;
}

strong {
	font-weight: 700;
}

.text-box {
	color: var(--white);
	text-align: center;
	max-width: 52rem;
}

.heading {
	margin-bottom: 2rem;
	font-size: 2.8rem;
	font-weight: 700;
	line-height: 1.4;
}

.description {
	font-size: 1.6rem;
	font-weight: 500;
}

.form-box {
	max-width: 55.5rem;
}

.free-trial-info {
	padding: 2rem 6rem;
	margin-bottom: 2rem;
	background: var(--blue);
	color: white;
	font-size: 1.6rem;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 8px 0 var(--shadow-color);
}

.free-trial-form {
	padding: 2rem;
	background: var(--white);
	border-radius: 10px;
	box-shadow: 0 8px 0 var(--shadow-color);
}

.free-trial-form li {
	list-style: none;
	margin-bottom: 1.5rem;
}

.input {
	width: 100%;
	padding: 1.8rem;
	border: 1px solid var(--grayish-blue);

	color: var(--dark-blue);
	font-family: inherit;
	font-size: 1.2rem;
	font-weight: 600;
	border-radius: 5px;
	margin-bottom: 0.6rem;
}

.input:focus {
	outline: none;
	border: 1px solid var(--dark-blue);
}

.input::placeholder {
	font-weight: 700;
	font-size: 1.4rem;
	color: var(--dark-blue);
}

.input.input--invalid {
	color: var(--red);
	border: 2px solid var(--red);
}

.btn {
	width: 100%;
	padding: 2rem;
	border: none;
	background: var(--green);
	color: var(--white);
	font-weight: 600;
	font-size: 1.4rem;
	text-transform: uppercase;
	border-radius: 5px;
	letter-spacing: 1px;
	box-shadow: inset 0 -3px 0 1px var(--shadow-color);
	cursor: pointer;
}

.btn:hover {
	background: var(--button-hover-color);
}

.error {
	font-size: 1.1rem;
	color: var(--red);
	text-align: right;
	width: 100%;
	display: block;
	font-weight: 500;
	font-style: italic;
	position: relative;
}

.error::before {
	content: url('../images/icon-error.svg');
	position: absolute;
	right: 2.4rem;
	top: -4.6rem;
}

.terms-and-services-info {
	color: var(--grayish-blue);
	font-weight: 500;
	text-align: center;
	font-size: 1rem;
	padding: 0 2rem;
	line-height: 2;
}

.terms-and-services-info a:link,
.terms-and-services-info a:visited {
	font-weight: 700;
	text-decoration: none;
	color: var(--red);
}

.attribution {
	color: var(--white);
	text-align: center;
	padding: 2rem;
}

.attribution a:link,
.attribution a:visited {
	font-size: 11px;
	color: var(--blue);
	text-decoration: none;
	font-weight: 600;
	border-bottom: 1px solid currentColor;
}

/* --- ABOVE 960px ---- */
@media (min-width: 60em) {
	body {
		min-height: 100vh;
	}

	main {
		grid-template-columns: 1fr 1fr;
		align-items: center;
		padding: 8rem 4rem;
	}

	.text-box {
		justify-self: right;
	}

	.form-box {
		justify-self: left;
	}

	.heading,
	.description {
		text-align: left;
	}

	.heading {
		font-size: 4.8rem;
		line-height: 1.2;
	}
}
